a{
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  display: block;
  
}

.cardContent{
 width: 35vw;
 height: 30vh;
 padding: 1rem;
 border-radius: 1rem;
  }

.cardSpace
{
  border-radius: 1rem;
}

.number{
  display: inline;
  float: right;
  filter: brightness(1.1);
  color: #fff;
}


img{
  max-width: 100%;
  height: 70px;
display: block;
position: relative;
margin: auto;
}

.name{
  text-transform: capitalize;
  color: #fff;
  margin-bottom: .25rem;
  margin-left:1rem;
}

.heart{
  display: inline;
  float: right;
  filter: brightness(1.1);
  color: #fff;
}

.types
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.type{
  color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;

}


.cardInfos{
  text-transform: capitalize;
  color: black;
  margin: 1rem;
  margin-bottom:2rem;
  margin-left:1rem;
}
